<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Исправить слежение</h1>

<div class="bg-success p-2 text-dark bg-opacity-25">
<%= form_for :track, url: track_path(@track), method: :patch do |f| %>
<p><label>PL перевзчик:</label>
<select  id="pl" name="track[pl]">
  <option value=" " selected="selected"></option>
  <option value="Чужой">Чужой</option>
  <option value="LB 85124">LB 85124</option>
  <option value="LB 85192">LB 85192</option>
  <option value="LB 85532">LB 85532</option>
  <option value="WGM3638F">WGM3638F</option>
  <option value="WGM3639F">WGM3639F</option>
  <option value="WPR6744P">WPR6744P</option>
</select>
<label>№ Поляка:</label>
<%= f.text_field :pl2 %>
</p>

<p><label>Перецеп/довоз:</label>
<select id="perecep2" name="track[perecep2]">
  <option value=" " selected="selected"></option>
  <option value="Перецеп">Перецеп</option>
  <option value="Перегруз">Перегруз</option>
</select></p>

<p><label>Тягач BY:</label>
<select id="truck_by" name="track[truck_by]">
  <option value=" " selected="selected"></option>
  <option value="AH6192-1">AH6192-1</option>
  <option value="AH6193-1">AH6193-1</option>
  <option value="AH3929-1">AH3929-1</option>
  <option value="AM0437-1">AM0437-1</option>
  <option value="AM2225-1">AM2225-1</option>
  <option value="AM2226-1">AM2226-1</option>
  <option value="AM8272-1">AM8272-1</option>
  <option value="AM8273-1">AM8273-1</option>
  <option value="AM2140-1">AM2140-1</option>
  <option value="AM2141-1">AM2141-1</option>
  <option value="AI5795-1">AI5795-1</option>
  <option value="AI5796-1">AI5796-1</option>
  <option value="AI4414-1">AI4414-1</option>
  <option value="AI4415-1">AI4415-1</option>
  <option value="AH9715-1">AH9715-1</option>
  <option value="AH9716-1">AH9716-1</option>
  <option value="AH7639-1">AH7639-1</option>
  <option value="AH7640-1">AH7640-1</option>
  <option value="AM1088-1">AM1088-1</option>
  <option value="AM1089-1">AM1089-1</option>
  <option value="AK7939-1">AK7939-1</option>
  <option value="AM3280-1">AM3280-1</option>
  <option value="AM0084-1">AM0084-1</option>
  <option value="AM4309-1">AM4309-1</option>
  <option value="AH8939-1">AH8939-1</option>
  <option value="AP1728-1">AP1728-1</option>
</select></p>

<p><label>Водитель BY:</label>
<select id="driver_by" name="track[driver_by]">
  <option value=" " selected="selected"></option>
  <option value="Омеленецкий Сергей Павлович">Омеленецкий Сергей Павлович</option>
  <option value="Кириченко Сергей Анатольевич">Кириченко Сергей Анатольевич</option>
  <option value="Халецкий Виктор Станиславович">Халецкий Виктор Станиславович</option>
  <option value="Кузавка Виктор Николаевич ">Кузавка Виктор Николаевич </option>
  <option value="Марчук Владимир Михайлович">Марчук Владимир Михайлович</option>
  <option value="Митягин Олег Александрович">Митягин Олег Александрович</option>
  <option value="Панасевич Сергей Григорьевич">Панасевич Сергей Григорьевич</option>
  <option value="Мартынюк Валерий Петрович">Мартынюк Валерий Петрович</option>
  <option value="Лойчиц Валерий Ярославович">Лойчиц Валерий Ярославович</option>
  <option value="Свитящук Сергей Николаевич">Свитящук Сергей Николаевич</option>
  <option value="Сацюк Максим Олегович">Сацюк Максим Олегович</option>
  <option value="Рудюк Павел Анатольевич">Рудюк Павел Анатольевич</option>
  <option value="Барановский Олег Евгеньевич">Барановский Олег Евгеньевич</option>
  <option value="Кузавка Павел Викторович">Кузавка Павел Викторович</option>
  <option value="Бакун Владимир Владимирович">Бакун Владимир Владимирович</option>
  <option value="Гаврильков Валерий Владимирович">Гаврильков Валерий Владимирович</option>
  <option value="Горустович Алексей Николаевич">Горустович Алексей Николаевич</option>
  <option value="Макаревич Игорь Степанович">Макаревич Игорь Степанович</option>
  <option value="Альфер Андрей Иванович">Альфер Андрей Иванович</option>
  <option value="Прихач Юрий Сергеевич">Прихач Юрий Сергеевич</option>
  <option value="Камушкин Алексей Васильевич">Камушкин Алексей Васильевич</option>
  <option value="Бондарук Александр Николаевич">Бондарук Александр Николаевич</option>
  <option value="Демаков Алексей Алексеевич">Демаков Алексей Алексеевич</option>
  <option value="Брунш Сергей Данилович">Брунш Сергей Данилович</option>
  <option value="Бруцкий Сергей Максимович">Бруцкий Сергей Максимович</option>
  <option value="Ноздрин Валентин Николаевич">Ноздрин Валентин Николаевич</option>
  <option value="Прокопук Алексей Игоревич">Прокопук Алексей Игоревич</option>
  <option value="Романюк Юрий Юрьевич">Романюк Юрий Юрьевич</option>
  <option value="Рябцев Александр Анатольевич">Рябцев Александр Анатольевич</option>
  <option value="Святский Сергей Александрович">Святский Сергей Александрович</option>
  <option value="Умников Антон Сергеевич">Умников Антон Сергеевич</option>
  <option value="Юхневич Эдуард Николаевич">Юхневич Эдуард Николаевич</option>
</select></p>

<p><label>Перецеп/довоз:</label>
<select id="perecep" name="track[perecep]">
  <option value=" " selected="selected"></option>
  <option value="Перецеп">Перецеп</option>
  <option value="Довоз">Довоз</option>
</select></p>

<p><label>Тягач RUS:</label>
<select id="truck_rus" name="track[truck_rus]">
  <option value=" " selected="selected"></option>
  <option value="М327КР67">М327КР67</option>
  <option value="A994EA67">A994EA67</option>
  <option value="А238КУ67">А238КУ67</option>
  <option value="А695ВА67">А695ВА67</option>
  <option value="М365КЕ67">М365КЕ67</option>
  <option value="А329ЕУ67">А329ЕУ67</option>
  <option value="M426HE67">M426HE67</option>
  <option value="M420HE67">M420HE67</option>
  <option value="А314ЕУ67">А314ЕУ67</option>
  <option value="А967ЕР67">А967ЕР67</option>
</select></p>

<p><label>Водитель RUS:</label>
<select id="driver_rus" name="track[driver_rus]">
  <option value=" " selected="selected"></option>
  <option value="Короб Александр Александрович">Короб Александр Александрович</option>
  <option value="Наврось Юрий Витальевич">Наврось Юрий Витальевич</option>
  <option value="Пойта Александр Николаевич">Пойта Александр Николаевич</option>
  <option value="Бондарук Сергей Сергеевич">Бондарук Сергей Сергеевич</option>
  <option value="Якуш Сергей Анатольевич">Якуш Сергей Анатольевич</option>
  <option value="Шумер Сергей Николаевич">Шумер Сергей Николаевич</option>
  <option value="Корольчук Андрей Викторович">Корольчук Андрей Викторович</option>
  <option value="Кот Андрей Геннадьевич">Кот Андрей Геннадьевич</option>
  <option value="Сидорчук Максим Николаевич">Сидорчук Максим Николаевич</option>
  <option value="Скурко Эдуард Николаевич">Скурко Эдуард Николаевич</option>
  <option value="Симонович Василий Петрович">Симонович Василий Петрович</option>

</select></p>

<p><label>Прицеп:</label>
<select id="semi_trailer" name="track[semi_trailer]">
  <option value=" " selected="selected"></option>
  <option value="A 0141 B-1">A 0141 B-1</option>
  <option value="A 0142 B-1">A 0142 B-1</option>
  <option value="A 1573 B-1">A 1573 B-1</option>
  <option value="A 1574 B-1">A 1574 B-1</option>
  <option value="A 2064 B-1">A 2064 B-1</option>
  <option value="A 2644 E-1">A 2644 E-1</option>
  <option value="A 3093 E-1">A 3093 E-1</option>
  <option value="A 3429 I-1">A 3429 I-1</option>
  <option value="A 3430 I-1">A 3430 I-1</option>
  <option value="A 3642 E-1">A 3642 E-1</option>
  <option value="A 3943 I-1">A 3943 I-1</option>
  <option value="A 4062 E-1">A 4062 E-1</option>
  <option value="A 4063 E-1">A 4063 E-1</option>
  <option value="A 4123 I-1">A 4123 I-1</option>
  <option value="A 4124 I-1">A 4124 I-1</option>
  <option value="A 4278 B-1">A 4278 B-1</option>
  <option value="A 4281 B-1">A 4281 B-1</option>
  <option value="A 4651 I-1">A 4651 I-1</option>
  <option value="A 4981 B-1">A 4981 B-1</option>
  <option value="A 4982 B-1">A 4982 B-1</option>
  <option value="A 5013 E-1">A 5013 E-1</option>
  <option value="A 5014 E-1">A 5014 E-1</option>
  <option value="A 5167 I-1">A 5167 I-1</option>
  <option value="A 5168 I-1">A 5168 I-1</option>
  <option value="A 5653 I-1">A 5653 I-1</option>
  <option value="A 5654 I-1">A 5654 I-1</option>
  <option value="A 6182 I-1">A 6182 I-1</option>
  <option value="A 6187 I-1">A 6187 I-1</option>
  <option value="A 6205 I-1">A 6205 I-1</option>
  <option value="A 6578 I-1">A 6578 I-1</option>
  <option value="A 6579 I-1">A 6579 I-1</option>
  <option value="A 7194 E-1">A 7194 E-1</option>
  <option value="A 7195 E-1">A 7195 E-1</option>
  <option value="A 7205 E-1">A 7205 E-1</option>
  <option value="A 7206 E-1">A 7206 E-1</option>
  <option value="A 7566 I-1">A 7566 I-1</option>
  <option value="A 8583 E-1">A 8583 E-1</option>
  <option value="A 8773 E-1">A 8773 E-1</option>
  <option value="A 8774 E-1">A 8774 E-1</option>
  <option value="A 9307 A-1">A 9307 A-1</option>
  <option value="A 9981 B-1">A 9981 B-1</option>
  <option value="А 3376 В-1">А 3376 В-1</option>
  <option value="А 6985 Е-1">А 6985 Е-1</option>
  <option value="А 6986 Е-1">А 6986 Е-1</option>
</select></p>

<p><label>Назначение:</label>
<select id="country" name="track[country]">
  <option value=" " selected="selected"></option>
  <option value="RUS ближ">RUS ближ</option>
  <option value="RUS даль">RUS даль</option>
  <option value="BY">BY</option>
  <option value="KZ">KZ</option>
  <option value="KG">KG</option>
  <option value="UZ">UZ</option>
  <option value="AZ">AZ</option>
  <option value="TJ">TJ</option>
</select></p>

  <p>
    <%= f.submit 'Сохранить', class:"btn btn-sm btn-primary rounded-pill" %>
  </p>

<% end %>
      </div>
    </div>
  </div>
</div>
