<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="field">
        <h5>Добавить PL тягач</h5>
        <%= form_for :truckpl, url: {action: "create"} do |h| %>
        <%= h.text_field :newtruckpl %>
        <%= h.submit 'OK', class:"btn btn-sm btn-primary rounded-pill" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
