<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="field">
        <h5>Добавить BY тягач</h5>
        <%= form_for :truckby, url: {action: "create"} do |f| %>
        <%= f.text_field :newtruckby %>
        <%= f.submit 'OK', class:"btn btn-sm btn-primary rounded-pill" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
